﻿<%@ Page Title="" Language="C#" MasterPageFile="~/Site.Master" AutoEventWireup="true" CodeBehind="Notpermission.aspx.cs" Inherits="DTGV.Notpermission" %>
<asp:Content ID="Content1" ContentPlaceHolderID="MainContent" runat="server">
    <h1> Bạn không có quyền thực hiện chức năng này</h1>
</asp:Content>
