﻿<%@ Master Language="C#" AutoEventWireup="true" CodeBehind="Site.master.cs" Inherits="DTGV.SiteMaster" %>

<!DOCTYPE html>

<html lang="en">
<head runat="server">
    <meta charset="utf-8" />


    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="shortcut icon" href="images/favicon.png" type="image/png">

    <title>Quản lý hồ sơ đào tạo</title>

    <link href="css/style.default.css" rel="stylesheet">
    <link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />

</head>
<body>
    <!-- Preloader -->
    <div id="preloader">
        <div id="status"><i class="fa fa-spinner fa-spin"></i></div>
    </div>

    <section>

        <div class="leftpanel">

            <div class="logopanel">
                <h4><span>[</span> ĐÀO TẠO GIÁO VIÊN <span>]</span></h4>
            </div>
            <!-- logopanel -->

            <div class="leftpanelinner">

                <!-- This is only visible to small devices -->
                <div class="visible-xs hidden-sm hidden-md hidden-lg">
                    <div class="media userlogged">
                        <img alt="" src="images/photos/loggeduser.png" class="media-object">
                        <div class="media-body">
                            <h4>Toàn Phương</h4>
                            <span>"Succesful"</span>
                        </div>
                    </div>

                    <h5 class="sidebartitle actitle">Account</h5>
                    <ul class="nav nav-pills nav-stacked nav-bracket mb30">
                        <li><a href="profile.html"><i class="fa fa-user"></i><span>Thông tin tài khoản</span></a></li>
                        <li><a href=""><i class="fa fa-cog"></i><span>Thiết lập tài khoản</span></a></li>
                        <li><a href=""><i class="fa fa-question-circle"></i><span>Hỗ trợ</span></a></li>
                        <li><a href="signout.html"><i class="fa fa-sign-out"></i><span>Đăng xuất</span></a></li>
                    </ul>
                </div>

                <h5 class="sidebartitle">Điều hướng</h5>
                <ul class="nav nav-pills nav-stacked nav-bracket">
                    <li class="active"><a href="QuanLyGiaoVien.aspx"><i class="fa fa-home"></i><span>Danh mục</span></a></li>
                    <li><a href="Email.aspx"><span class="pull-right badge badge-success">2</span><i class="fa fa-envelope-o"></i> <span>Email</span></a></li>
                    <li><a href="Giaovien.aspx"><i class="fa fa-th-list"></i><span>Quản lý giáo viên</span></a>
                        <ul class="children">
                            <li><a href="GiaovienAdd.aspx"><i class="fa fa-caret-right"></i>Thêm Giáo viên</a></li>
                            <li><a href="Giaovien.aspx"><i class="fa fa-caret-right"></i>Hiển thị giáo viên</a></li>


                        </ul>
                    </li>
                    <li><a href="Daotao.aspx"><i class="fa fa-th-list"></i><span>Quản lý Hồ sơ đào tạo</span></a></li>


                    <li class="nav-parent"><a href="Lop.aspx"><i class="fa fa-th-list"></i><span>Quản lý lớp</span></a>
                        <ul class="children">
                            <li><a href="Lop.aspx"><i class="fa fa-caret-right"></i>Quản lý lớp</a></li>
                            <li><a href="ChamThi.aspx"><i class="fa fa-caret-right"></i>Chấm Thi</a></li>


                        </ul>
                    </li>
                    <li class="nav-parent"><a href="QuyetdinhKtra.aspx"><i class="fa fa-th-list"></i><span>Quản lý quyết định</span></a>
                        <ul class="children">
                            <li><a href="QuyetdinhKtra.aspx"><i class="fa fa-caret-right"></i>Quyết định kiểm tra</a></li>
                            <li><a href="QuyetdinhDat.aspx"><i class="fa fa-caret-right"></i>Quyết định đạt</a></li>


                        </ul>
                    </li>
                    <li><a href="Taikhoan.aspx"><i class="fa fa-th-list"></i><span>Quản lý tài khoản</span></a></li>
                    <li><a href="Thongke.aspx"><i class="fa fa-th-list"></i><span>Thống kê</span></a></li>


                </ul>

                <div class="infosummary">
                    <h5 class="sidebartitle">Thống kê </h5>
                    <ul>
                        <li>
                            <div class="datainfo">
                                <span class="text-muted">Truy nhập trong ngày</span>
                                <h4>630, 201</h4>
                            </div>
                            <div id="sidebar-chart" class="chart"></div>
                        </li>
                        <li>
                            <div class="datainfo">
                                <span class="text-muted">Trung bình truy cập</span>
                                <h4>1, 332, 801</h4>
                            </div>
                            <div id="sidebar-chart2" class="chart"></div>
                        </li>
                        <li>
                            <div class="datainfo">
                                <span class="text-muted">Tổng truy cập</span>
                                <h4>82.2%</h4>
                            </div>
                            <div id="sidebar-chart3" class="chart"></div>
                        </li>

                    </ul>
                </div>
                <!-- infosummary -->

            </div>
            <!-- leftpanelinner -->
        </div>
        <!-- leftpanel -->

        <div class="mainpanel">

            <div class="headerbar">

                <a class="menutoggle"><i class="fa fa-bars"></i></a>

                <form class="searchform" action="index.html" method="post">
                    <input type="text" class="form-control" name="keyword" placeholder="Thông tin tìm kiếm..." />
                </form>

                <div class="header-right">
                    <ul class="headermenu">
                        <li>
                            <div class="btn-group">
                                <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
                                    <%--<img src="images/photos/loggeduser.png" alt="" />--%>
                                    <asp:Image ID="image" runat="server" />
                                    <asp:Label ID="lblName" runat="server"></asp:Label>

                                    <span class="caret"></span>
                                </button>
                                <ul class="dropdown-menu dropdown-menu-usermenu pull-right">
                                    <%-- <li><a href="profile.html"><i class="glyphicon glyphicon-user"></i>Thông tin tài khoản</a></li>
                                    <li><a href="#"><i class="glyphicon glyphicon-cog"></i>Thiết lập tài khoản</a></li>
                                    <li><a href="#"><i class="glyphicon glyphicon-question-sign"></i>Hỗ trợ</a></li>--%>
                                    <li><a href="Logout.aspx"><i class="glyphicon glyphicon-log-out"></i>Đăng xuất</a></li>
                                </ul>
                            </div>
                        </li>



                    </ul>
                </div>
                <!-- header-right -->

            </div>
            <!-- headerbar -->









            <div class="contentpanel">
                <form runat="server">


                    <asp:ContentPlaceHolder ID="MainContent" runat="server">
                    </asp:ContentPlaceHolder>
                </form>
                <hr />
                <footer>
                </footer>

            </div>
            <!-- contentpanel -->




        </div>
        <!-- mainpanel -->



    </section>
</body>
<script src="js/jquery-1.11.1.min.js"></script>
<script src="js/jquery-migrate-1.2.1.min.js"></script>
<script src="js/jquery-ui-1.10.3.min.js"></script>
<script src="js/bootstrap.min.js"></script>
<script src="js/modernizr.min.js"></script>
<script src="js/jquery.sparkline.min.js"></script>
<script src="js/toggles.min.js"></script>
<script src="js/retina.min.js"></script>
<script src="js/jquery.cookies.js"></script>

<script src="js/flot/jquery.flot.min.js"></script>
<script src="js/flot/jquery.flot.resize.min.js"></script>
<script src="js/flot/jquery.flot.spline.min.js"></script>
<script src="js/morris.min.js"></script>
<script src="js/raphael-2.1.0.min.js"></script>

<script src="js/custom.js"></script>
<script src="js/dashboard.js"></script>
</html>
